

#btn-ok{
	-fx-border-radius:8px;
	-fx-border-color:#90EE90;
	-fx-border-width: 4px;
	-fx-background-radius: 8px;
}

#btn-ok:hover{
	-fx-background-color: #333333;
	-fx-text-fill: #fff;
	-fx-background-radius: 8px;
}