.root{
	-fx-background-color: linear-gradient(to top, #00CED1, #F0F8FF);
	-fx-background-size: 100% 100%;
}

.menu-bar{
	-fx-background-color: #ffff;
	-fx-background-radius: 30px;
	-fx-alignment: center;
	-fx-font-size: 20px;
}

.menu-bar .label{
	-fx-font-size: 15pt;
}

.menu:showing{
	-fx-background-radius: 15px;
	-fx-background-color: #000000;
	-fx-font-weight: bold;
	
}